# emacs temporary files
*~
\#*#
.#*
.RData
.Rhistory

stdout

hw1_data.csv
rprog_data_quiz1_data.zip
specdata
rprog_data_specdata.zip
submitscript1.R


foo.R
dumpdata.R
scratchPad.R
genaccOutput.R
test.R
Rprof.out

getdata_projectfiles_UCI HAR Dataset.zip
UCI HAR Dataset
